.account-div {
  flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px max(30px, 5%);
    justify-content: space-between;
    position: relative;
  }
  .account-div > .inputs {
    flex-direction: column;
    /* margin-top: 100px; */
    height: 300px;
    justify-content: space-between;
  }
  .inputs > input {
    /* margin-top: 40px; */
  }
  .account-div > .title {
    flex-direction: column;
    text-align: center;
    color: var(--top-color-1);
  }
  .account-div > .action {
    justify-content: center;
  }
  